<div *ngIf="errorMessage" style="color: red;">
  Error: {{ errorMessage }}
</div>

<div *ngIf="post" class="post-card">
  <h2>Post Detail</h2>
  <h3>
      Post by
      <a [routerLink]="['/users', post.user._id]">
          {{ post.user.email }}
      </a>
      <span *ngIf="post.user.role === 'influencer'" style="font-weight: bold; color: purple;">(Influencer)</span>
      <span *ngIf="isFollowingUser(post.user)" style="font-weight: bold; color: green;">(Following)</span>
  </h3>
   <img *ngIf="post.mediaType === 'image'" [src]="'http://localhost:5000/' + post.mediaUrl" alt="Post Image">
  <video *ngIf="post.mediaType === 'video'" controls [src]="'http://localhost:5000/' + post.mediaUrl"></video>
  <p>{{ post.caption }}</p>
  <p>Likes: {{ post.likes.length || 0 }} | Shares: {{ post.shareCount || 0 }} | Comments: {{ post.comments.length || 0 }}</p>

  <div *ngIf="authService.isLoggedIn() && !isSharedView" class="post-actions">
      <button (click)="toggleLike()">
          {{ hasLiked(post) ? 'Unlike' : 'Like' }}
      </button>
      <button (click)="sharePost()">Share</button>
  </div>

  <button
  *ngIf="canEditDeletePost(post) && !isSharedView"
  (click)="deletePost(post._id)"
  class="delete-post-btn"
>
  Delete Post
</button>


  <h3 class="comments-section">Comments</h3>
  <div *ngIf="post.comments?.length === 0">
    No comments yet.
  </div>
  <div *ngFor="let comment of post.comments" class="comment">
    <div *ngIf="editingComment?._id !== comment._id">
      <p>
        <strong>
          <a [routerLink]="['/users', comment.user._id]">
            {{ comment.user.email || 'Unknown User' }}
          </a>:
        </strong>
        {{ comment.text }}
      </p>
      <button
        *ngIf="authService.getCurrentUser()?._id === comment.user._id && !isSharedView"
        (click)="startEditingComment(comment)">
        Edit
      </button>
      <button
        *ngIf="canEditDeleteComment(comment) && !isSharedView"
        (click)="deleteComment(comment._id)">
        Delete
      </button>
    </div>

    <div *ngIf="editingComment?._id === comment._id && !isSharedView" class="edit-comment-form">
      <h4>Edit Comment</h4>
      <form (ngSubmit)="saveComment()">
        <div>
          <textarea [(ngModel)]="updatedCommentText" name="updatedCommentText" required></textarea>
        </div>
        <button type="submit">Save</button>
        <button type="button" (click)="cancelEditingComment()">Cancel</button>
      </form>
    </div>
  </div>

  <div *ngIf="authService.isLoggedIn() && !editingComment && !isSharedView" class="add-comment-form">
      <h4>Add a Comment</h4>
      <form (ngSubmit)="addComment()">
        <div>
          <textarea [(ngModel)]="newCommentText" name="newCommentText" required placeholder="Write a comment..."></textarea>
        </div>
        <button type="submit">Post Comment</button>
      </form>
   </div>


  </div>
