<h2>Admin - User Management</h2>

<div *ngIf="errorMessage" style="color: red;">
  Error: {{ errorMessage }}
</div>

<div *ngIf="authService.getCurrentUserRole() === 'admin' && !errorMessage">
  <div *ngIf="!selectedUser">
    <h3>All Users</h3>
    <div *ngIf="users.length === 0 && !errorMessage">
      No users found.
    </div>
    <ul>
      <li *ngFor="let user of users">
        <div>
          <a [routerLink]="['/users', user._id]">
            {{ user.email }}
          </a>
          ({{ user.role }})
        </div>
        <div class="user-actions">
          <button (click)="selectUser(user)">View/Edit</button>
          <button class="delete-btn" (click)="deleteUser(user._id)">Delete</button>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="selectedUser">
    <h3>Edit User: {{ selectedUser.email }}</h3>
    <p><strong>ID:</strong> {{ selectedUser._id }}</p>
    <div>
      <label for="role">Role:</label>
      <select id="role" [(ngModel)]="updatedUserRole" name="updatedUserRole">
        <option value="user">User</option>
        <option value="influencer">Influencer</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    <button (click)="updateUserRole()">Save Role</button>
    <button type="button" (click)="cancelEditProfile()">Cancel</button>
  </div>
</div>
